body{
    background-color: black;
    background-image: url("../image/DarkCastle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

.block{
    position: relative;
	overflow: hidden;
	min-height: 300px;
	width: 600px;
	max-width: 100%;
	background-color: gray;
	border-radius: 10px;
	box-shadow: 0 8px 24px  rgba(0, 32, 63, .45),
		  0 8px 8px rgba(0, 32, 63, .45);
}

button.ghost {
	background-color: transparent;
}

button {
	background-color: white;
	color: #00203f;
	border: 1px solid white;
	font-size: 16px;
	font-weight: bold;
	padding: 16px 32px;
	margin-top: 24px;
	letter-spacing: 1px;
	border-radius: 50px;
	border-color: rgba(0, 32, 63, .45);
	transition: .2s ease-in;
}

button:hover {
	cursor: pointer;
	background-color: #00203f;
	color: white;
}

button:active {
	transform: scale(.95);
}

input {
	background-color: white;
    border-radius: 10px;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

h1{
    text-align: center;
    color: white;
    font-size: 60px;
}

form {
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	text-align: center;
}

a{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    margin: 10px;
}

p{
	text-align: center;
}