:root {
    --color-primary: #1A1A1A;
    --color-secondary: #2E2E2E;
    --text-primary: #E5E5E5;
    --text-secondary: #BFBFBF;
    --btn-primary: #C4975E;
    --btn-secondary: #8B1E1E;
    --alert: #8B1E1E;
    --success: #4A7A66;
}

@font-face {
    font-family: 'PirataOne';
    src: url('../fonts/PirataOne-Regular.ttf') format('truetype');
}

body {
    background-image: url("../images/dungeonBackground2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: 'PirataOne', sans-serif;
    color: var(--text-primary);
}

.nofont{
    font-family: sans-serif;
}

.masthead {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
}

h1 {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}

p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-light {
    font-family: sans-serif;
    background-color: var(--btn-primary);
    outline-color: var(--btn-primary);
    color: var(--text-primary);
    font-weight: bold;

}

.btn-light:hover {
    background-color: var(--btn-secondary);
    color: var(--text-primary);
}

.btn-link {
    color: var(--btn-primary);
    font-family: sans-serif;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
    color: var(--btn-primary);
}